@model PaginatedList<Mountain_Goats_Bike_App.Models.View_product_details>
<div class="text-center">
    <h1>Product Details</h1>
    <p>Total: @Model.TotalEntries</p>
    <p>Showing per page: @Model.PageSize</p>
    <p>Number of pages: @Model.TotalPages</p>
</div>
<hr />
    <div class ="text-center">
        <form  asp-action="Index" asp-controller="View_product_details">
            <div class="form-group mb-3">
                    Search by brand: <select name="brand_name" id="the_brands">
                        <option selected="selected" disabled="true"></option>
                        @foreach (var brands in (List<String>)ViewData["AllBrandNames"])
                        {
                            <option value=@brands>@brands</option>
                        }
                        
                    </select>
            </div>

            <div class="form-group mb-3">
                    Category: <select name="category_name" id="the_categories">
                        <option selected="selected" disabled="true"></option>
                        @foreach (var categories in (List<String>)ViewData["AllCategoryNames"])
                        {
                            <option value=@categories>@categories</option>
                        }

                    </select>
            </div>

			<div class="form-group mb-3">
				Bike name: <input name="product_name" type="search" placeholder="Search" aria-label="Search">
			</div>

            <div class="form-group mb-3">
                    Store zipcode: <select name="zipcode_number" id="the_zipcode">
                        <option selected="selected" disabled="true"></option>
                        @foreach (var zipcodes in (List<String>)ViewData["allZipCodes"])
                        {
                            <option value=@zipcodes>@zipcodes</option>
                        }

                    </select>
            </div>



            <br />
            <div class="form-group mb-3">
                <button class="btn btn-success" type="submit">Search</button>
            </div>
        </form>
<a asp-action="Index" class="text-dark">Back to Full List</a>
    <div class="col-md-6"></div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
			    <th>Category</th>
                <th>Brand Name</th>
			    <th>Price</th>
                <th>Store Name</th>
                <th>Address</th>
                <th>Store Phone</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var product_details in Model) {
                <tr>
                    <td>@product_details.Product_name</td>
                    <td>@product_details.Category_name</td>
                    <td>@product_details.Brand_name</td>
                    <td>@product_details.Price.ToString("C")</td>
                    <td>@product_details.Store_name</td>
                    <td>@product_details.Street, @product_details.City, @product_details.State, @product_details.Zip_code</td>
                    <td>@product_details.Store_phone</td>
                    <td>@product_details.Quantity</td>
                </tr>
            }
        </tbody>
    </table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-outline-secondary @prevDisabled">
    Previous
</a>

<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-outline-secondary @nextDisabled">
    Next
</a>
