@model Mountain_Goats_Bike_App.Models.Customers

    <div class="modal-header">
        <h1 class="modal-title fs-5">Customer Information for @Model.First_name @Model.Last_name</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
        <table>
            <tbody class="table">
                <tr>
                    <td>Name: </td>
                    <td>@Model.First_name @Model.Last_name</td>
                </tr>
                <tr>
                    <td>ID: </td>
                    <td>@Model.Customer_id</td>
                </tr>
                <tr>
                    <td>Phone: </td>
                    <td>@Model.Phone_number</td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Address: </td>
                    <td>@Model.Street_address</td>
                </tr>
                <tr>
                    <td>City: </td>
                    <td>@Model.City_name</td>
                </tr>
                <tr>
                    <td>State: </td>
                    <td>@Model.State</td>
                </tr>
                <tr>
                    <td>Zipcode: </td>
                    <td>@Model.Zip_code</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
        </button>
    </div>