@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CS6232</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn btn-primary" href="@Url.Action("Brands", "Home")">Brands</a>
    <a class="btn btn-primary" href="@Url.Action("Categories", "Home")">Categories</a>
    <a class="btn btn-primary" href="@Url.Action("Inventory", "Home")">Inventory</a>
    <a class="btn btn-primary" href="@Url.Action("Products", "Home")">Products</a>
    <a class="btn btn-primary" href="@Url.Action("Ratings", "Home")">Ratings</a>
</div>
