@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Mountain Goats Bike Website</h1>
    <h2 class="display-6">Click a button below to find out more about a particular aspect of our business!</h2>
    <a class="btn btn-primary" href="@Url.Action("Index", "Brands")">Brands</a>
    <a class="btn btn-primary" href="@Url.Action("Index", "Categories")">Categories</a>
    <a class="btn btn-primary" href="@Url.Action("Index", "Inventory")">Inventory</a>
    <a class="btn btn-primary" href="@Url.Action("Index", "Products")">Products</a>
    <a class="btn btn-primary" href="@Url.Action("Index", "Ratings")">Ratings</a>
    <a class="btn btn-primary" href="@Url.Action("Index", "Staff")">Staff</a>
    <a class="btn btn-primary" href="@Url.Action("Index", "Locations")">Locations</a>
    <a class="btn btn-primary" href="@Url.Action("Index", "Customers")">Customers</a>
	<a class="btn btn-primary" href="@Url.Action("Index", "ItemsOrdered")">Items Ordered</a>
    <a class="btn btn-primary" href="@Url.Action("Index", "Orders")">Orders</a>
    <a class="btn btn-primary" href="@Url.Action("Index", "SearchProducts")">Search Products</a>
</div>
