@model PaginatedList<Mountain_Goats_Bike_App.Models.Customers>
<div class="text-center">
<h1>Customers</h1>
<p>Total: @Model.TotalCustomers</p>
<p>Showing per page: @Model.PageSize</p>
<p>Number of pages: @Model.TotalPages</p>
</div>
<table class="table">
    <thead>
        <tr class="text-center">
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var customers in Model) {
            <tr class="text-center">
                <td>@customers.Customer_id</td>
                <td>@customers.First_name</td>
                <td>@customers.Last_name</td>
                <td>@customers.Phone_number</td>
                <td>@customers.Email</td>
                <td>@customers.Street_address</td>
                <td>@customers.City_name</td>
                <td>@customers.State</td>
                <td>@customers.Zip_code</td>
                <td>
                    <a class="btn btn-outline-secondary"
                            data-bs-toggle="modal" data-bs-target="#button_@customers.Customer_id">
                        Details
                    </a>
                    <div class="modal fade" id="button_@customers.Customer_id" tabindex="-1" aria-labelledby="button_@customers.Customer_id"
                         aria-hidden="true">
						<div class="modal-dialog modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Customer Information for @customers.First_name @customers.Last_name</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-striped">
                                    <tbody class="text-center">
                                        <tr>
                                            <td>Name: </td>
                                            <td>@customers.First_name @customers.Last_name</td>
                                        </tr>
                                        <tr>
                                            <td>ID: </td>
                                            <td>@customers.Customer_id</td>
                                        </tr>
                                        <tr>
                                            <td>Phone: </td>
                                            <td>@customers.Phone_number</td>
                                        </tr>
                                        <tr>
                                            <td>Email: </td>
                                            <td>@customers.Email</td>
                                        </tr>
                                        <tr>
                                            <td>Address: </td>
                                            <td>@customers.Street_address</td>
                                        </tr>
                                        <tr>
                                            <td>City: </td>
                                            <td>@customers.City_name</td>
                                        </tr>
                                        <tr>
                                            <td>State: </td>
                                            <td>@customers.State</td>
                                        </tr>
                                        <tr>
                                            <td>Zipcode: </td>
                                            <td>@customers.Zip_code</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-outline-secondary" href="@Url.Action("Details", "Customers", new{id = @customers.Customer_id} )">Orders</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action = "Index" asp-route-pageNumber = "@(Model.PageIndex - 1)" class = "btn btn-outline-secondary @prevDisabled">
    Previous
</a>

<a asp-action = "Index" asp-route-pageNumber = "@(Model.PageIndex + 1)" class="btn btn-outline-secondary @nextDisabled">
    Next
</a>